<div class="container">
    <div class="row">
        <div class="col">
            <h2>Listado de Personas</h2>
            <button class="btn btn-primary" [disabled] = "deshabilitar" (click)="agregarPersona()">Agregar Persona</button>
            <p>{{mensaje}}</p>
            <ol>
                <app-persona></app-persona>
            </ol>


            <label for="">Título Persona</label>
            <input type="text" class="form-control" (input)="modificarTitulo($event)"/>
            <div class="mt-2">{{titulo}}</div>
        </div>
    </div>

</div>