<div class="container">
    <div class="row">
        <div class="col">
            <h2>Listado de Personas</h2>
            <button class="btn btn-primary" [disabled] = "deshabilitar" (click)="agregarPersona()">Agregar Persona</button>
            <p *ngIf="mostrar; else sinPersona">{{mensaje}} con el título de: {{titulo}}</p>
            <ng-template #sinPersona>
                <p>No se ha agregado ninguna persona</p>
            </ng-template>
            <ol>
                <app-persona></app-persona>
            </ol>


            <label for="">Título Persona</label>
            <input type="text" class="form-control" [(ngModel)]="titulo"/>
            <div class="mt-2">{{titulo}}</div>
        </div>
    </div>

</div>