<div class="container mt-5">
    <div class="col">
        <h1>{{title}}</h1>
    </div>
    <hr>

    <form class="form row">
        <div class="form-group col-md-4">
            <label for="nombre" class="visually-hidden">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombreInput"
                placeholder="Nombre">
        </div>

        <div class="form-group col-md-4">
            <label for="apellido" class="visually-hidden">Apellido</label>
            <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="apellidoInput"
                placeholder="Apellido">
        </div>

        <div class="col-md-4">
            <button type="button" class="btn btn-primary" (click)="agregar()">Agregar</button>
        </div>

    </form>
</div>

<hr>

<div *ngIf="personas.length === 0; else sinPersonas">
    <p class="text-center">No hay personas registradas</p>
</div>

<ng-template #sinPersonas>

    <div class="container mt-5">
        <div class="row">

            <app-persona *ngFor="let personaElemento of personas; let i = index" [persona]="personaElemento"
                [indice]="i" (click)="borrar(i)"></app-persona>

        </div>
    </div>

</ng-template>