<div class="container mt-5">
    <div class="col">
        <h1>{{title}}</h1>
    </div>
    <hr>

    <form class="form row">
        <div class="form-group col-md-4">
            <label for="nombre" class="visually-hidden">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombreInput"
                placeholder="Nombre">
        </div>

        <div class="form-group col-md-4">
            <label for="apellido" class="visually-hidden">Apellido</label>
            <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="apellidoInput"
                placeholder="Apellido">
        </div>

        <div class="col-md-4">
            <button type="button" class="btn btn-primary" (click)="agregar()">Agregar</button>
        </div>

    </form>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div *ngIf="personas.length == 0; else elseBlock">
                No hay personas
            </div>

            <ng-template #elseBlock>
                <div class="" *ngFor="let persona of personas; let i = index">
                    {{i+1}}- {{persona.nombre}} {{persona.apellido}}
                    <button class="btn btn-danger me-2" style="font-size: 10px;" (click)="personas.splice(i, 1)">X</button>
                </div>
            </ng-template>


        </div>
    </div>
</div>